

coreapi
coreschema

Django==3.2
django-allauth==0.41.0
django-cors-headers
django-environ
django-rest-auth
django-rest-registration
djangorestframework
djangorestframework-filters
django-utils-six

Pillow==8.4.0



